[Desktop Entry]
Encoding=UTF-8
Name=CATS CTC
Comment=CATS Digicon HART Master (CTC)
Exec=/home/pi/hart/launch_hart_master_desktop.sh
Icon=/home/pi/JMRI/crandic.gif
Terminal=false
Type=Application
Categories=Utility
StartupNotify=true
Path=/home/pi/JMRI
